      *{
  padding: 0%;
  margin: 0%;
}
  body{
  background-image: url('../../img/fundo2.png');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;}

.verao {
  padding: 40px 20px;
  text-align: center;
}

.verao-titulo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 20px;

}

.bolinhas {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.bolinhas span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
}

.bolinhas span:hover{
    width: 32px;
  height: 32px;
  transition: 0.5s;
  border-radius: 50%;
  display: inline-block;
}


.verao-titulo h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  color: #111;
}

.verao-galeria {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.verao-card {
  position: relative;
  width: 600px;
  height: 900px;
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.verao-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20PX;
}

.verao-label {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 26px;
  padding: 12px 30px;
  border-radius: 30px;
}
.verao-label:hover {
color:#EDB5B5; 
}



.galeria-roupas {
  padding: 60px 20px;
  text-align: center;
}

.galeria-roupas h1 {
  font-size: 32px;
  margin-bottom: 40px;
  font-family: 'DM Serif Display', serif;
  color: #8AC0BF;
}

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.item img {
  width: 400px;
  height: 600PX;
  display: block;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.3s ease;

}

.item:hover img {
  transform: scale(1.03);
}

.item button {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8AC0BF;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.item button:hover {
  background-color: #5cc13b;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    max-width: 320px;
  }
}

